/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #a60808;
  --ifm-color-primary-dark: #950707;
  --ifm-color-primary-darker: #8d0707;
  --ifm-color-primary-darkest: #740606;
  --ifm-color-primary-light: #b70909;
  --ifm-color-primary-lighter: #bf0909;
  --ifm-color-primary-lightest: #d80a0a;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.1);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

html[data-theme='dark'] .docusaurus-highlight-code-line {
  background-color: rgba(0, 0, 0, 0.3);
}

.commit-logo {
  height: 22px!important;
}